{% extends "base.html" %}
{% block content %}
<h1 class="section-title">Buscar Carta</h1>
<form method="POST" class="form">
    <label for="card_name" class="form-label">Nombre de la carta:</label>
    <input type="text" id="card_name" name="card_name" required class="form-input">
    <button type="submit" class="form-button">Buscar</button>
</form>

{% if cards_data %}
    <h2 class="sub-title">Cartas Encontradas</h2>
    <div class="cards-list">
    {% for card in cards_data %}
        <div class="card-item">
            <p><strong>{{ card.name }}</strong></p>
            <img src="{{ card.iconUrls.medium }}" alt="{{ card.name }}">
            <p><strong>Elixir:</strong> {{ card.elixirCost }}</p>
            <p><strong>Rareza:</strong> {{ card.rarity }}</p>
            <p><strong>ID:</strong> {{ card.id }}</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    {% if request.method == 'POST' %}
        <p class="error-message">No se encontraron cartas que coincidan con el término de búsqueda o hubo un error.</p>
    {% endif %}
{% endif %}
{% endblock %}
